<div class="list-container mt-[30px] py-2.5 w-full h-full flex-col justify-center items-center bg-[#EDEDED]  ">
  <div class="top w-full flex justify-around items-center mb-6">
    <button type="submit" class="bg-[#D9D9D9] text-[#4F4F4F] font-medium py-2 px-4 rounded-[10px]">
      Ajouter un Medicament
    </button>
    <div class="flex justify-center items-center gap-1 bg-[#D9D9D9] text-[#4F4F4F] font-medium py-2 px-4 rounded-[10px] w-[300px]">
      <i class="ri-search-line"></i>
      <input type="search" class="bg-[#D9D9D9] text-[#4F4F4F] w-[300px] h-full font-medium focus:border-transparent focus:outline-none" placeholder="Chercher un médicament">
    </div>
  </div>
  <div class="w-full flex flex-col gap-6 items-center justify-center ">
    <div class="card-container w-3/4 bg-white px-3 py-1.5 h-[300px] rounded-[8px] relative">
      <div class="flex items-center pl-[20px] mt-[10px] gap-[100px]">
          <img ngSrc="./assets/image/medicament1.jpg" alt="" class="w-[200px] h-[270px]" height="500" width="500">
          <div class="flex flex-col gap-4 justify-center items-center my-[40px] ">
            <div class="flex items-center w-[270px] bg-[#D9D9D9]  ">
              <div class="bg-amber-500 p-2"><img ngSrc="assets/image/Capsules.png" class="w-[25px] h-[25px]" alt="cap" height="235" width="235"></div>
              <p class="text-xl ml-5">TAKADOL</p>
            </div>
            <div class="flex items-center w-[270px] bg-[#D9D9D9]  ">
              <div class="bg-amber-500 p-2"><img ngSrc="assets/image/Medicine.png" class="w-[25px] h-[25px]" alt="cap" height="235" width="235"></div>
              <p class="text-xl ml-5"> 1/ jour</p>
            </div>
            <div class="flex items-center w-[270px] bg-[#D9D9D9]  ">
              <div class="bg-amber-500 p-2"><img ngSrc="assets/image/Clock.png" class="w-[25px] h-[25px]" alt="cap" height="207" width="208"></div>
              <p class="text-xl ml-5">17H:00</p>
            </div>
        </div>
      </div>
      <div class="absolute top-0 right-0  mr-3 flex flex-col items-center">
        <i class="ri-time-line text-[40px]"></i>
        <p>Creer rappel</p>
      </div>
      <button type="submit" class="bg-[#029900] w-2/12 text-white font-medium py-2 px-6 rounded-[10px] absolute bottom-0 right-0 mr-2 mb-2">
        Details
      </button>
    </div>
    <div class="card-container w-3/4 bg-white px-3 py-1.5 h-[300px] rounded-[8px] relative">
      <div class="flex items-center pl-[20px] mt-[10px] gap-[100px]">
        <img ngSrc="./assets/image/medicament1.jpg" alt="" class="w-[200px] h-[270px]" height="500" width="500">
        <div class="flex flex-col gap-4 justify-center items-center my-[40px] ">
          <div class="flex items-center w-[270px] bg-[#D9D9D9]  ">
            <div class="bg-amber-500 p-2"><img ngSrc="assets/image/Capsules.png" class="w-[25px] h-[25px]" alt="cap" height="235" width="235"></div>
            <p class="text-xl ml-5">TAKADOL</p>
          </div>
          <div class="flex items-center w-[270px] bg-[#D9D9D9]  ">
            <div class="bg-amber-500 p-2"><img ngSrc="assets/image/Medicine.png" class="w-[25px] h-[25px]" alt="cap" height="235" width="235"></div>
            <p class="text-xl ml-5"> 1/ jour</p>
          </div>
          <div class="flex items-center w-[270px] bg-[#D9D9D9]  ">
            <div class="bg-amber-500 p-2"><img ngSrc="assets/image/Clock.png" class="w-[25px] h-[25px]" alt="cap" height="207" width="208"></div>
            <p class="text-xl ml-5">17H:00</p>
          </div>
        </div>
      </div>
      <div class="absolute top-0 right-0  mr-3 flex flex-col items-center">
        <i class="ri-time-line text-[40px]"></i>
        <p>Creer rappel</p>
      </div>
      <button type="submit" class="bg-[#029900] w-2/12 text-white font-medium py-2 px-6 rounded-[10px] absolute bottom-0 right-0 mr-2 mb-2">
        Details
      </button>
    </div>
    <div class="card-container w-3/4 bg-white px-3 py-1.5 h-[300px] rounded-[8px] relative">
      <div class="flex items-center pl-[20px] mt-[10px] gap-[100px]">
        <img ngSrc="./assets/image/medicament1.jpg" alt="" class="w-[200px] h-[270px]" height="500" width="500">
        <div class="flex flex-col gap-4 justify-center items-center my-[40px] ">
          <div class="flex items-center w-[270px] bg-[#D9D9D9]  ">
            <div class="bg-amber-500 p-2"><img ngSrc="assets/image/Capsules.png" class="w-[25px] h-[25px]" alt="cap" height="235" width="235"></div>
            <p class="text-xl ml-5">TAKADOL</p>
          </div>
          <div class="flex items-center w-[270px] bg-[#D9D9D9]  ">
            <div class="bg-amber-500 p-2"><img ngSrc="assets/image/Medicine.png" class="w-[25px] h-[25px]" alt="cap" height="235" width="235"></div>
            <p class="text-xl ml-5"> 1/ jour</p>
          </div>
          <div class="flex items-center w-[270px] bg-[#D9D9D9]  ">
            <div class="bg-amber-500 p-2"><img ngSrc="assets/image/Clock.png" class="w-[25px] h-[25px]" alt="cap" height="207" width="208"></div>
            <p class="text-xl ml-5">17H:00</p>
          </div>
        </div>
      </div>
      <div class="absolute top-0 right-0  mr-3 flex flex-col items-center">
        <i class="ri-time-line text-[40px]"></i>
        <p>Creer rappel</p>
      </div>
      <button type="submit" class="bg-[#029900] w-2/12 text-white font-medium py-2 px-6 rounded-[10px] absolute bottom-0 right-0 mr-2 mb-2">
        Details
      </button>
    </div>
  </div>
</div>
