<!-- Mon loading  -->
<div *ngIf="loading">
  <app-spinner></app-spinner>
</div>

<!-- Error message  -->
<div *ngIf="!loading && errorMessage">
  <div class="error_container">
    <p>{{errorMessage}}</p>
  </div>
</div>

<!-- Mon formulaire en question -->
<form class="formulaire " (submit)="createSubmit()" (ngSubmit)="ajouterMedicamentAvecImage()" enctype="multipart/form-data">


  <!-- Le titre de formulaire -->
  <div class="title_formulaire">
    <h2 class="font-bold">AJOUTER UN MEDICAMENT</h2>
    <!-- <pre> {{medicament | json}} </pre> -->
  </div>

  <!-- Le container qui va contenir notre input et image -->
  <div class="container_global_input">

    <div class="container_input_image">

      <!-- Le champs qui s'occupera de nom de médicament -->
      <div class="input">
        <input [(ngModel)]="medicament.nom" type="text" name="nom" class="input_focus" id="liaison_input_label1" placeholder="Saisie le nom de votre médicament" required >
        <label for="liaison_input_label1" class="label">Nom du médicament</label>
      </div>


      <div class="input01">
        <select name="dosageId" *ngIf="dosagees.length > 0" 
                [(ngModel)]="medicament.dosageId">
                <option disabled selected>Choisissez un dosage</option>
          <option [value]="dosag.id" *ngFor="let dosag of dosagees"> {{dosag.nom}} </option>
        </select>
      </div>

      <div class="input01">
        <select name="frequenceId"  *ngIf="frequences.length > 0"
                [(ngModel)]="medicament.frequenceId">
                <option disabled selected>Choisissez une frequence</option>
          <option  [value]="freq.id" *ngFor="let freq of frequences"> {{freq.nom}} </option>
        </select>
      </div>


    </div>

    <!-- Image qui sera a droit de notre formulaire -->
    <div class="image_input">
      <!-- Afficher l'image sélectionnée -->
      <div class="image_user">
        <div class="roudel_img">
          <img class="immmmmgggg" [src]="selectedFileDataUrl"   alt="Ajouter medicament">
        </div>
        <input type="file" name="photo" [(ngModel)]="medicament.photo" (change)="handleFileInput($event)">
      </div>
    </div>
    <!-- <button type="submit" style="color: white; background: #000; padding: 10px;">Ajouter la photo</button> -->

  </div>

  <!-- Description -->
  <!-- Le champs qui s'occupera de prochaine prise -->
  <div class="container_description">
    <div class="input">
      <textarea  [(ngModel)]="medicament.description" class="input_description" name="description" id="liaison_input_label" cols="30" rows="3" minlength="10" maxlength="200" placeholder="Votre description" required></textarea>
      <label for="liaison_input_label" class="label">Description</label>
    </div>
  </div>

  <!-- Bouton de validation -->
  <div class="btn_validation">
    <button type="button" class="bg-red-400 cancel invisible sm:visible mr-3" routerLink="/medicaments">
      ANNULER
    </button>
    <button type="submit" class="hover:animate-pulse">
      AJOUTER
    </button>
  </div>
</form>
