<header class="header_container">
    <div class="navbar">
      <!-- Conception de mon LOGO -->
      <div class="my_logo">
        <img ngSrc="../assets/image/logo.png" alt="L'image de mon logo" height="323" width="381">
        <h2 class="non_logo">Sy_toure</h2>
      </div>

      <!-- Création d'accueil et icon de user -->
      <nav class="navigation_container z-1">
        <ul class="ul_navigation_container">
          <li><a href="#" class="lien_accueil" title="Acceder a la page accueil">Accueil</a></li>
          <li><a href="#" class="lien_user"><i class="ri-user-line" title="Utilisateur"></i></a></li>
        </ul>
      </nav>
    </div>
  </header>


  <main style="height: 100%; width: 100%;">
    <router-outlet></router-outlet>
  </main>
