<header class="header_container">
    <div class="navbar">
      <!-- Conception de mon LOGO -->
      <div class="my_logo">
        <img routerLink="/medicaments" ngSrc="../assets/image/logo1.png" alt="L'image de mon logo" height="1201" width="1183">
        <h2 routerLink="/medicaments" class="non_logo">Sy_toure</h2>
      </div>

      <!-- Création d'accueil et icon de user -->
      <nav class="navigation_container">
        <ul class="ul_navigation_container">
          <li><a href="#" class="lien_accueil" title="Acceder a la page accueil">Accueil</a></li>
          <li><a href="#" class="lien_user"><i class="ri-user-line" title="Utilisateur"></i></a></li>
        </ul>
      </nav>
    </div>
  </header>

  <!-- <div class="loading_spinner">
    <app-spinner></app-spinner>
  </div> -->


  <main style="height: 100%; width: 100%!important;">
    <router-outlet></router-outlet>
  </main>

<footer>
  <app-footer></app-footer>
</footer>
