<div class="detail_container_global">

    <div class="detail_container">

        <!-- ================================ LEFT ================================== -->


        <!-- Image de mon detaille  -->
        <div class="detail_image">
            <img src="" class="catre_image" alt="image de detaille">
        </div>

        <!-- ================================ RIGHT ================================== -->

        <!-- les informations de mon detaille  -->
        <div class="detail_information_detail">
            <!-- Pour nom  -->
            <div class="detail_nom">
                <h3>Nom</h3>
                <p> : </p>
                <h2>TAKADOL</h2>
            </div>
            <!-- Pour date d'ajoute -->
            <div class="detail_nom">
                <h3>Date d’ajout</h3>
                <p> : </p>
                <h2>24-08-2023</h2>
            </div>

            <!-- pour description de detail  -->
            <div class="detail_description">
                <p>
                    Le Takadol, contenant du paracétamol, est utilisé pour soulager 
                    la douleur et réduire la fièvre, mais ne traite pas directement 
                    une maladie sous-jacente.
                </p>
            </div>

            <!-- les boutons de suppression et modification de details  -->

            <div class="detail_sup_mod">
                <button type="submit" class="detail_sup">  Supprimer</button>
                <button type="submit" class="detail_mod">  Modifier</button>
            </div>

        </div>
    </div>

</div>